image: docker:git

services:
  - docker:18.09.7-dind

before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY

stages:
  - build

build:
  stage: build
  script:
    - docker build
      --pull
      --target nodejs
      --tag "$CI_REGISTRY_IMAGE/nodejs"
      .
    - docker build
      --pull
      --target php
      --tag "$CI_REGISTRY_IMAGE/php"
      .
    - docker push "$CI_REGISTRY_IMAGE/nodejs"
    - docker push "$CI_REGISTRY_IMAGE/php"
  only:
    - master
